<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="customer" class="com.bix.bean.Customer">
		<property name="country" value="Malaysia" />
		<property name="action" value="buy" />
		<property name="type" value="1" />
	</bean>

	<bean id="CustomerBean" class="com.bix.bean.CustomerID" parent="customer">
	<property name="id" value="201"></property>
		<property name="name" value="Bharadwaj"></property>
	</bean>
	
</beans>